## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [45]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [46]:
# Your code here

sample_list_1 = random.sample(range(100), k = 80)
print(sample_list_1)

[99, 2, 78, 27, 98, 3, 68, 57, 8, 42, 40, 35, 75, 65, 0, 80, 31, 18, 69, 13, 52, 71, 70, 34, 92, 60, 66, 63, 58, 45, 67, 32, 81, 16, 43, 20, 55, 95, 26, 91, 77, 23, 90, 64, 24, 5, 25, 86, 10, 4, 6, 88, 87, 85, 59, 54, 82, 37, 62, 94, 61, 50, 15, 7, 21, 14, 48, 53, 12, 89, 97, 30, 93, 49, 73, 41, 51, 74, 28, 44]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here

set1 = set(sample_list_1)

print(sample_list_1)

print("Length is:", len(sample_list_1))

[99, 2, 78, 27, 98, 3, 68, 57, 8, 42, 40, 35, 75, 65, 0, 80, 31, 18, 69, 13, 52, 71, 70, 34, 92, 60, 66, 63, 58, 45, 67, 32, 81, 16, 43, 20, 55, 95, 26, 91, 77, 23, 90, 64, 24, 5, 25, 86, 10, 4, 6, 88, 87, 85, 59, 54, 82, 37, 62, 94, 61, 50, 15, 7, 21, 14, 48, 53, 12, 89, 97, 30, 93, 49, 73, 41, 51, 74, 28, 44]
Length is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
# Your code here
sample_list_2 = random.choices(range(100), k = 80)
#sample_list_2 = [x for x in random.choice(sample_list_1)]
print(sample_list_2)
print("Length is:", len(sample_list_2))

[73, 70, 48, 96, 3, 28, 63, 34, 52, 19, 8, 76, 42, 99, 80, 5, 73, 48, 55, 50, 33, 31, 46, 40, 47, 73, 82, 62, 27, 89, 35, 13, 74, 78, 71, 52, 84, 49, 44, 30, 99, 28, 56, 4, 8, 38, 66, 8, 38, 91, 56, 58, 89, 51, 29, 56, 62, 66, 47, 63, 13, 90, 70, 26, 35, 49, 62, 62, 3, 35, 31, 12, 56, 81, 86, 49, 53, 68, 8, 26]
Length is: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [49]:
# Your code here

set2 = set(sample_list_2)
print(set2)
print("Length is:", len(set2))

{3, 4, 5, 8, 12, 13, 19, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 40, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 62, 63, 66, 68, 70, 71, 73, 74, 76, 78, 80, 81, 82, 84, 86, 89, 90, 91, 96, 99}
Length is: 51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [50]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 2, 6, 7, 10, 14, 15, 16, 18, 20, 21, 23, 24, 25, 32, 37, 41, 43, 45, 54, 57, 59, 60, 61, 64, 65, 67, 69, 75, 77, 85, 87, 88, 92, 93, 94, 95, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
# Your code here

set4 = set2 - set1
print(set4)

{96, 33, 38, 76, 46, 47, 19, 84, 56, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [52]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{3, 4, 5, 8, 12, 13, 26, 27, 28, 30, 31, 34, 35, 40, 42, 44, 48, 49, 50, 51, 52, 53, 55, 58, 62, 63, 66, 68, 70, 71, 73, 74, 78, 80, 81, 82, 86, 89, 90, 91, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [53]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#difference method?

80
51
39
10
41

#### Create an empty set called `set6`.

In [54]:
# Your code here

set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 35, 37, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [57]:
# Your code here

set1 == set6

#new = set6.difference(set1)
#print(new)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [61]:
# Your code here

issubset1 = set1.issubset(set2)
print(issubset1)

issubset2 = set1.issubset(set3)
print(issubset2)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [63]:
# Your code here

union1 = set3.union(set4)
union2 = set4.union(set5)
union3 = set1.union(set2)

print(union1)
print(union2)
print(union3)

{0, 2, 6, 7, 10, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 29, 32, 33, 37, 38, 41, 43, 45, 46, 47, 54, 56, 57, 59, 60, 61, 64, 65, 67, 69, 75, 76, 77, 84, 85, 87, 88, 92, 93, 94, 95, 96, 97, 98}
{3, 4, 5, 8, 12, 13, 19, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 40, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 62, 63, 66, 68, 70, 71, 73, 74, 76, 78, 80, 81, 82, 84, 86, 89, 90, 91, 96, 99}
{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [64]:
# Your code here

set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 35, 37, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)

set1.difference_update(set_to_remove) 

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 37, 40, 42, 43, 44, 45, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 77, 78, 80, 82, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}