# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
# your code here

# Sub Problem 1: How to aggregate the `amount_spent` for unique customers?

unique_customers = orders.groupby('CustomerID')['amount_spent'].sum()
unique_customers.head()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
Name: amount_spent, dtype: float64

In [18]:
# Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

Q95 = unique_customers.quantile(0.95)
Q95

Q75 = unique_customers.quantile(0.75)
Q75

1661.6400000000003

In [24]:
# Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

VIP = orders[orders['amount_spent'] >= Q95].CustomerID
VIP

Top75 = orders[orders['amount_spent'] >= Q75].CustomerID
Top75

Preferred = orders[(orders['amount_spent'] >= Q75) & (orders['amount_spent'] <= Q95)].CustomerID
Preferred

10784     18102
10786     18102
10787     18102
10788     18102
10794     18102
10795     18102
10797     18102
10799     18102
10800     18102
12992     12755
13607     18102
14708     15061
21714     16029
27338     16532
32186     17450
32187     17450
32188     17450
32189     17450
32730     15749
32731     15749
32792     15749
32793     15749
35326     14156
52375     18102
52379     18102
54330     16029
61586     18087
76240     14911
76241     14911
80236     15769
          ...
295254    12744
295255    12744
299486    18102
299487    18102
299488    18102
299489    18102
299490    18102
299491    18102
299492    18102
306755    12798
308097    14646
308822    12536
308846    12536
320899    17450
320906    16333
320908    16333
332682    12931
334250    16986
345074    12415
360757    16532
375742    17450
378078    12798
384664    13868
393222    16000
393227    16000
393237    16000
393298    15195
394417    14646
395597    16210
397110    18102
Name: CustomerID, Length: 125, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [ ]:
# your code here

In [ ]:
# Q2: How to identify which country has the most VIP Customers?

In [30]:
orders['Country'].value_counts().head()

United Kingdom    354345
Germany             9042
France              8342
EIRE                7238
Spain               2485
Name: Country, dtype: int64

In [36]:
VIP_country = orders[orders['amount_spent'] >= Q95].Country
VIP_country

Top_VIP_country = VIP_country.value_counts()
Top_VIP_country

United Kingdom    7
Name: Country, dtype: int64

In [ ]:
# Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [50]:
All_75_country = orders[orders['amount_spent'] >= Q75].Country
Top_75_countries = All_75_country.value_counts().index[0]
Top_75_countries

'United Kingdom'